<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

<body>
  <%- include('partials/navBar.ejs') %>

  
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://molimax.com/images/abarrotesbanner.png" alt="First slide">
      </div>
    </div>
  </div>


  <main class="container my-5">
    <div class="row">
        <div class="col text-center">
            <h2>Bienvenidos a Z-Mark</h2>
            <p>Encuentra los mejores productos a los mejores precios.</p>
        </div>
    </div>
</main>
<br>
<main class="container my-5">
  <div class="row">
      <div class="col text-center">
          <h2>LO MAS PEDIDO</h2>
      </div>
  </div>
</main>

<div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <img src="https://www.aguaparatuvida.com.ar/img/novedades/106.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BEBIDAS</h5>
            <p class="card-text">Aqui encontraras los mejores precios de todo tipo de bebidas y de todas las variedades.</p>
            <a href="#" class="btn btn-primary" style="background-color: #198754;">Ver Producto</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="https://d1a7biwwgyx8zb.cloudfront.net/thumbs/1200x900c/notas/poster/fruits-1336.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">FRUTAS</h5>
            <p class="card-text">Apurate! Llegaron las mejores frutas de la zona, recien cosechadas.</p>
            <a href="#" class="btn btn-primary" style="background-color: #198754;">Ver Producto</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="https://www.etisign.com/wp-content/uploads/2016/02/dscn9197.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ABARROTES</h5>
            <p class="card-text">Encontraras una gran variedad de productos en nuestra tienda.</p>
            <a href="#" class="btn btn-primary" style="background-color: #198754;">Ver Producto</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<br>
<br>
<br>
<%- include('partials/footer.ejs') %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</body>

</html>