<footer class="bg-dark text-white pt-5 pb-4 mt-auto w-100">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-white">Compañia</h5>
          <p>Bienvenidos a ZMark, tu nuevo destino de confianza para compras rápidas y convenientes. Ubicado en el corazón de Rancagua, nuestro minimarket está diseñado para satisfacer todas tus necesidades diarias con una amplia gama de productos de alta calidad a precios competitivos.</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-white">Productos</h5>
          <p><a href="#" class="text-white" style="text-decoration: none;">Abarrotes</a></p>
          <p><a href="#" class="text-white" style="text-decoration: none;">Productos para el Hogar</a></p>
          <p><a href="#" class="text-white" style="text-decoration: none;">Frutas y Verduras</a></p>
          <p><a href="#" class="text-white" style="text-decoration: none;">Productos para Mascotas</a></p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-white">Dejanos ayudarte</h5>
          <p><a href="#" class="text-white" style="text-decoration: none;">Tu cuenta</a></p>
          <p><a href="#" class="text-white" style="text-decoration: none;">Tus ordenes</a></p>
          <p><a href="#" class="text-white" style="text-decoration: none;">Manejo de cuenta</a></p>
          <p><a href="#" class="text-white" style="text-decoration: none;">Ayuda</a></p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-white">Contactos</h5>
          <p><i class="#">Rancagua, Chile</i></p>
          <p><i class="#">compañia@gmail.com</i></p>
          <p><i class="#">+56978549632</i></p>
        </div>
      </div>
    </div>
  </footer>