<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #198754 !important;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-boider" aria-current="page" href="/login" style="color: white;">Z-MARK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/productos" style="color: white;" >Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/proveedor" style="color: white;" >Proveedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vendedor" style="color: white;">Vendedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ventas" style="color: white;">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
      </ul>
      <form class=" input-group rounded w-50">
        <input class="form-control rounded" type="search" placeholder="Busca tu producto" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit" style="background-color: white;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- ... -->
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: white;">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>



</nav>