<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #198754 !important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fw-boider" aria-current="page" href="/" style="color: white;">Z-MARK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
          </li>
        </ul>
        <form class=" input-group rounded w-50">
          <input class="form-control rounded" type="search" placeholder="Busca tu producto" aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit" style="background-color: white;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
          </button>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- ... -->
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal" style="color: white;">Iniciar sesión</a>
          </li>
        </ul>
      </div>
    </div>
    <!--modal del login -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel" >Iniciar sesión</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="loginForm">
              <div class="form-group">
                  <label for="email">Correo electrónico:</label>
                  <input type="email" class="form-control" id="correo" name="correo" required>
              </div>
              <div class="form-group">
                  <label for="contraseña">Contraseña:</label>
                  <input type="password" class="form-control" id="contraseña" name="contraseña" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
          </form>
          </div>
        </div>
      </div>
    </div>
<!--metodo del login -->
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            
            const correo = document.getElementById('correo').value;
            const contraseña = document.getElementById('contraseña').value;
  
            fetch('/vendedor/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ correo, contraseña })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert('Error: ' + data.error);
                } else {
                    alert('Inicio de sesión exitoso');
                    window.location.href = '/productos'
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>

</nav>